node_modules/
.DS_Store
Thumbs.db
*.log
.gemini/
scratch/

# Editor
.vscode/

# Environment
.env

# Firebase
.firebase/
wellnessplpy-firebase-adminsdk-fbsvc-*.json


# Build
dist/
build/

# Misc
*.csv

